.bfs-page {
  min-height: 100vh;
  background-color: #020b16;
  color: white;

  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 120px;

  overflow-y: auto;
}

.bfs-page h1 {
  font-size: 60px;
  color: #4da3ff;
  margin-bottom: 40px;
}

.bfs-controls {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.bfs-controls input {
  padding: 12px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.bfs-controls button {
  background-color: #1f8b3a;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.bfs-controls button:hover {
  background-color: #27ae60;
}

.graph-container {
  width: 700px;
  height: 450px;

  background: #111;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.traversal-output {
  text-align: center;
  margin-bottom: 60px;
}

.traversal-output h2 {
  color: #4da3ff;
  margin-bottom: 10px;
}